<div *ngIf="_firstStep" class="firstStep">
	<div class="groupe">
		<label>Vertices: </label>
		<textarea placeholder="Enter the vertices separated by comma" #Noeuds></textarea>
		<button (click)="firstStep(Noeuds.value)">second Step</button>
	</div>
	<div *ngIf="isError" class="alert alert-danger">{{_Msg}}</div>
</div>

<div *ngIf="_secondStep" class="secondStep">
	<label>choose the source node: </label>
	<select #source>
		<option *ngFor="let Noeud of Noeuds;index as i" value="{{i}}">{{Noeud}}</option>
	</select>,
	<input min="2" type="number" placeholder="Enter the number of arcs" (keyup)="arcCount=count.value;" #count>
	<div class="myarcs">
		<div #Arcs>
			<div *ngFor="let item of getArcCount()">
				<select>
					<option *ngFor="let Noeud of Noeuds;index as i" value="{{i}}">{{Noeud}}</option>
				</select>
				<span></span>
				<input type="number" value="0" min="0">
				<span class="marker"></span>
				<select>
					<option *ngFor="let Noeud of Noeuds;index as i" value="{{i}}">{{Noeud}}</option>
				</select>
			</div>
		</div>
		<button (click)="secondStep(source.value)">Draw the graph</button>
	</div>
</div>

<div *ngIf="_thirdStep" class="thirdStep">
	<select #mySelect>
		<option *ngFor="let Noeud of Noeuds;index as i" value="{{i}}">{{Noeud}}</option>
	</select>
	<button (click)="trouverChemain(mySelect.value)">Find the shortest path</button>
	<div *ngIf="_thirdStep && isError" class="alert alert-danger">{{_Msg}}</div>
	<div *ngIf="_thirdStep && isSuccess" class="alert alert-success"><p style="margin:0;"><strong>Distance: </strong>{{_dist}}</p>{{_Msg}}</div>
</div>

<div id="myGraph"></div>